name: Codegen CI

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - 'codegen/**'
      - '.github/workflows/codegen-ci.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'codegen/**'
      - '.github/workflows/codegen-ci.yml'

env:
  GOLANGCI_LINT_VERSION: v2.5.0

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: codegen
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: codegen/go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: codegen
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: codegen/go.mod

      - name: Test
        run: go test -v -failfast -race -timeout 10m ./...
