name: Codegen CI

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - 'internal/cmd/codegen/**'
      - '.github/workflows/codegen-ci.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'internal/cmd/codegen/**'
      - '.github/workflows/codegen-ci.yml'

env:
  GOLANGCI_LINT_VERSION: v2.5.0

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: internal/cmd/codegen
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: internal/cmd/codegen/go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

  test:
    name: Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: internal/cmd/codegen
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: internal/cmd/codegen/go.mod

      - name: Test
        run: go test -v -failfast -race -timeout 10m ./...
